@model IEnumerable<RestaurantManagement.Models.CustomerOrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>ORDER DETAILS</h1>
<br /><br />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            decimal a = @item.Item.ItemPrice;
            decimal b = item.Amount;
            decimal total = a * b;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.ItemPrice)
                </td>
                <td>
                    @total
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnabled)
                </td>
        </tr>
}
    </tbody>
</table>
